/* selectores */
h1 {
    /* atributos */
    color: red;
}

h2 {
    color:rgb(12, 16, 223)
}

div {
    padding: 5px;
    margin: 5px;
    border: 2px solid black;
}

/* border */
#border {
    border: 5px rgb(22, 107, 5) solid;
}

/* border-sides */
#border-sides {
    border-top: 3px solid rgb(238, 9, 161);
    border-bottom: 8px solid  #000;
    border-left: 5px solid blue;
    border-right: 10px solid red;
}


/* border-radius */
#border-radius {
    border-radius: 30px;
    border: 5px solid salmon;
}

/* background-image */
#background-image {
    background-image: url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRB2gRfcVVElVvkUCYApkeJNAdxDiF-ISxUK3T_JyorV_wYq7wTcb_aOUQ7ndruB86iBwQ&usqp=CAU");
    border: 1px solid #000;
}

/* color */
#color {
    color: rgb(8, 8, 170);
    border: 2px solid gray;
}

/* font */
#font {
    font: 1.2em "Fira Sans", sans-serif;
    border: 2px solid black;
}

/* font-family */
#font-family {
    font-family: "Gill Sans Extrabold", sans-serif;
    border: 2px solid red;
}

/* font styles */
#font-styles {
    font-style: italic;
    font-weight: bold;
    border: 2px solid black;
}

/* width */
#width-height-parent {
    border: 1px solid red;
    width: 200px;
    height: 350px;
    margin:auto;
}

/* list-style */
#list-style li {
    list-style: square;
}

/* margin */
#margin {
    margin: 50px;
}

/* padding */
#padding {
    padding: 50px;
}